@using Microsoft.AspNetCore.Mvc.Localization
@using AppMvcTiered522.Localization
@inject IHtmlLocalizer<AppMvcTiered522Resource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
